<div class="content"></div>
<div class="flow">
    <div class="flow-on">
        <span class="rotated-text">
            <span class="rotated-text__inner message">FLOW</span>
        </span>
        <img class="flow-img" src="/widgets/resources?resource=atlassian/clock/red.png">
    </div>
    <div class="flow-off">
        <span class="rotated-text">
            <span class="rotated-text__inner message">FIRE</span>
        </span>
        <img class="flow-img" src="/widgets/resources?resource=atlassian/clock/green.png">
    </div>
</div>


